body {
    background-color: #188d31;
    color: #ffffff;
    font-family: arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: 00ffcc;
    font-size: 48px;
}

p {
    font-size: 20px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #22c55e;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #16a34a;
}